<a href="<%= link %>" class="text-white text-xs px-3 py-1.5 bg-white/10 backdrop-blur-md border border-white/10 rounded-full hover:-translate-y-1 hover:bg-white/20 hover:text-white transition-all duration-200 ease-in-out font-medium tracking-wide active:scale-95 focus:outline-none focus:ring-1 focus:ring-white/30">
    <%= title %>
</a>